<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irmãos Mai - Pinturas e Lavagens</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <header>
        <div class="top-section">
            <div class="top-images">
                <div class="image-container faded"><img src="static/images/image1.jpg" alt="Foto 1"></div>
                <div class="image-container faded"><img src="static/images/image4.jpg" alt="Foto 4"></div>
            </div>
            <div class="center-logo">
                <div class="image-container"><img src="static/images/image2.jpg" alt="Foto 2"></div>
                <div class="logo">
                    <h1>IRMÃOS MAI</h1>
                    <p>Pinturas e Lavagens</p>
                </div>
                <div class="image-container"><img src="static/images/image3.jpg" alt="Foto 3"></div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">A Empresa</a></li>
                <li><a href="#">Nossos Serviços</a></li>
                <li><a href="#">Nossa Equipe</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="image-gallery">
        <img src="static/images/house1.jpg" alt="Imagem de casa 1">
        <img src="static/images/house2.jfif" alt="Imagem de casa 2">
        <img src="static/images/house3.jfif" alt="Imagem de casa 3">
    </section>

    <footer>
        <p>Fale Conosco:</p>
        <div class="social-media">
            <a href="#"><img src="static/images/email-icon.png" alt="Email"></a>
            <a href="#"><img src="static/images/instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="static/images/facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="static/images/phone-icon.png" alt="Telefone"></a>
        </div>
    </footer>
</body>
</html>
